.park-full{
    width: 100%;
}
.park-container{
    width: 100%;
    padding-top: 20px;
    margin-top: 80px;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.search-box input{
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    border: 1px solid #000;
    padding-left: 5px;
}

.search-box button{
    background: #e1ad01;
    font-size: 18px;
    color: #000;
    text-align: center;
    border: none;
    height: 40px;
    margin-left: 10px;
    width: 140px;
    border-radius: 10px;
    transition: 0.5s;
}

.park-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}

.park-card{
    max-width: 340px;
    width: 100%;
    overflow: hidden;
    height: 540px;
    padding: 15px;
    margin: 30px;
    cursor: pointer;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
}

.park-card img{
    width: 100%;
    height: 100%;
    max-height: 240px;
    display: block;
    object-fit: cover;
}

.card-details{
    /*background-color: cadetblue;*/
    padding: 10px;
    margin-bottom: 10px;
}

.card-details h2{
    font-size: 22px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.card-details a{
    text-decoration: none;
}

.card-details p{
    color: #000;
    margin-top: 10px;
}

.card-details h3{
    font-size: 18px;
    margin-top: 8px;
}

.button-group{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.card-btn{
    background: #e1ad01;
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-top: 15px;
    border: none;
    height: 45px;
    width: 140px;
    border-radius: 10px;
    transition: 0.5s;
}

.card-btn a{
    text-decoration: none;
    color: #000;
}

.card-btn:hover{
    color: #fff;
}

@media screen and (max-width:700px){
    .card-details h2{
        font-size: 18px;
    }
    .park-card{
        height: 480px;
    }
    .card-btn{
        width: 120px;
    }
    .park-container{
        padding-top: 20px;
    } 
}